.auth_switching {
  cursor: pointer;
}
.auth_switching:hover {
  color: blue;
}

.auth_forgotPass {
  cursor: pointer;
}
.auth_forgotPass:hover {
  color: blue;
}

.signIn_addIcon {
  cursor: pointer;
  color: gray;
}
.signIn_addIconLoaded {
  cursor: pointer;
  color: whitesmoke;
}

.signIn_hiddenIcon {
  text-align: center;
  display: none;
}

.auth_box {
  text-align: left;
}
