.auth_switching {
  cursor: pointer;
}
.auth_switching:hover {
  color: blue;
}

.auth_forgot_pass {
  cursor: pointer;
}
.auth_forgot_pass:hover {
  color: blue;
}

.auth_box {
  text-align: left;
  padding-left: 20px;
}

.mb_sm {
  margin-bottom: 10px;
}

.mb_md {
  margin-bottom: 20px;
}
