.feed_headerBtns {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.feed_link {
  text-decoration: none;
}

.feed_groupPram {
  margin-right: 10px !important;
}

.feed_root {
  overflow-x: hidden;
  overflow-y: scroll;
}
