.postInput_form {
  display: flex;
}

.postInput_addIcon {
  cursor: pointer;
  color: #222;
}
.postInput_addIconLoaded {
  cursor: pointer;
  color: #ccc;
}

.postInput_hiddenIcon {
  display: none;
}

.postInput_sendBtn {
  background-color: #005fff !important;
  border: none !important;
  color: white !important;
  font-weight: 800 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-left: 80% !important;
  outline: none !important;
  cursor: pointer;
  user-select: none !important;
}

.postInput_sendBtn:hover {
  opacity: 0.9;
}

.postInput_sendDisableBtn {
  background-color: gray !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-left: 80% !important;
  outline: none !important;
  user-select: none !important;
  cursor: default;
}

.postInput_avatar {
  display: inline-block;
  margin: 10px;
}

@media screen and (max-width: 650px) {
  .postInput_form {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .postInput_avatar {
    display: none !important;
  }
}
