.talkRoom_section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.talkRoom_box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  height: 592px;
  max-width: 100%;
  padding: 0 1rem;
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.talkRoom_header {
  display: flex;
  height: 50px;
}

.talkRoom_link {
  line-height: 50px;
  text-decoration: none;
  color: #222;
  margin-right: 20px;
}

.talkRoom_username {
  font-size: 1.4em;
}
